.input {
  height: 10px;
  align-self: center;
  background-color: #444;
}

.a-input,
.b-input,
.a-gauge,
.b-gauge {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.a-input {
  position: relative;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  z-index: 1;
}

.b-input {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}

.output,
.c-gauge {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.output {
  grid-column: 5 / 6;
  grid-row: 3 / 4;
  height: 10px;
  background-color: #444;
  align-self: center;
}

.switch {
  text-align: center;
  width: 55px;
  grid-column: 1 / 2;
  align-self: center;
  justify-self: end;
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border-radius: 9999px;
  caret-color: transparent;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(128, 128, 128, 0.24);
  }
}

.a-switch {
  grid-row: 2 / 3;
}

.b-switch {
  grid-row: 4 / 5;
}

.a-gauge,
.b-gauge,
.c-gauge {
  height: 100%;
  width: 0;
  background-color: goldenrod;
}