*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  block-size: 100%;
  background-color: var(--bg-primary);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

h2 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  border-bottom: 3px solid black;
  background-color: var(--bg-primary);
  position: relative;
  z-index: 1;
  margin: 0;
}

#app {
  block-size: inherit;
  display: grid;
  place-content: center;
}

.icon-container {
  width: 30px;
  transform: translateY(90px) translateX(-15px);
  transition: transform var(--duration) ease-in-out;
}

.truth-table-container {
  width: 200px;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  padding-block-end: 1rem;
  background-color: transparent;
}

.half-adder-container {
  position: relative;
  width: 1200px;
  height: 600px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.or-gate {
  --radius: 9000px;
  position: relative;
  z-index: 3;
  display: grid;
  grid-column: 3 / 5;
  grid-row: 2 / 5;
  fill: white;
  /* border: 5px solid #444;
  border-radius: 0% 75% 75% 25% / 0% 50% 50% 0%; */

  & h2:first-child {
    align-self: center;
  }

  & svg {
    width: 400px;
    height: 400px;
  }
}

.bulb-container {
  grid-row: 2 / 5;
  grid-column: 6 / -1;
  align-content: center;

  & svg {
    fill: var(--fill-color);

  }
}

.info-icon-container {
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-content: center;

  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;


  & svg {
    fill: var(--tc-primary);
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  & svg:last-child {
    aspect-ratio: 1 / 4;
    height: 28px;
    align-self: center;
  }
}